$main-font-stack: 'Montserrat', sans-serif;
$secondary-font-stack: 'Roboto', sans-serif;

$main-color: #fff;
$secondary-color: #333;
$secondary-bg-color: #95e1d3;
$description-color: #999;
$accent-color: #fce38a;
$icon-color: #f38181;
