.icon {
  @include center-flex('all');
  width: 55px;
  height: 55px;
  border-right: solid 1px $icon-color;
  opacity: 0;
  background-color: $accent-color;
  transition: background-color 200ms linear;

  &:hover {
    background-color: $icon-color;
  }

  &:hover .icon--hover {
    fill: $main-color;
  }
}

// $icons: alarm, graph, computer, seo, house, digital;

// @include generate-psuedo-icons(
//   'icon-', 
//   $icons, 
//   '../images/icons/icon-', 
//   'png'
// );

.icon--color {
  fill: $icon-color;
}

.icon svg {
  display: inline-block;
  width: 25px;
  height: 25px;
}
