html {
    box-sizing: border-box;
} 
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
/* BANNER */
.banner {
    width: 100%;
    height: 1000px;
}
.wrapper {
    position: relative;
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
  }
  .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

/* NAVIGATION */

.page-header {
    height: 50px;   
    position: relative;
    z-index: 1; 
} 
.page-nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex; 
   -webkit-box-pack: justify; 
       -ms-flex-pack: justify; 
           justify-content: space-between;
   -webkit-box-align: end;
       -ms-flex-align: end;
           align-items: flex-end;
   height: 50px; 
}
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
            justify-content: space-between;
    width: 620px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-navigation__link { 
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
}
.site-navigation__link:hover,
.site-navigation__link:focus {
    color: #fce38a;
    padding-bottom: 11px;
    border-bottom: solid 3px #fce38a;
}
svg path {
    fill: inherit;
}
.site-navigation__icon {
    width: 20px;
    height: 20px;
    fill: #fff;
}
.site-navigation__icon--hover:hover {
    fill: #fce38a;
}
.header__cover{
    padding-top: 165px;
    width: 800px;
    text-align: center;
  }
  
  .cover__title {
    margin-top: 40px;
    color: #fff;
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
  
  .cover__subtitle {
    margin-top: 0;
    color: #fff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    line-height: 1;
  }
  
  .cover__button {
    padding: 15px 32px;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
  }
  
  .cover__button--hover:hover {
    color: #fce38a;
    border-color: #fce38a;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  

/* SERVICES SECTION */

.services {
    padding-top: 130px;
}
.services__pre-title,
.team__pre-title {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
}
.services__title,
.team__title {
    font-size: 30px;
    font-family: 'Montserrat' bold;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
.services__title::after,
.team__title::after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: solid 3px #f38181;
    padding-top: 44px;
    margin: 0 auto;
}
.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}
.services-list__item{ 
    position: relative;
    width: 383px;
    padding-left: 83px;
}
.services-list__item-name {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: normal;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin: 0;
}
.services-list__item-descrp {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
}
.services-list__item::before {
    position: absolute;
    left: 20px;
    top: 0; 
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../img/icons/ALARM.png);
    background-repeat: no-repeat;
    background-position: center;
}
.icon-2::before {
    background-image: url(../img/icons/LINE_GRAPH.png);
}
.icon-3::before {
    background-image: url(../img/icons/COMPUTER_OK.png);
}
.icon-4::before {
    background-image: url(../img/icons/BOOK.png);
}
.icon-5::before {
    background-image: url(../img/icons/HOME.png);
}
.icon-6::before {
    background-image: url(../img/icons/IMAGE.png);
}

/* TEAM */
.team {
    padding-top: 95px;
    padding-bottom: 155px;
    border-bottom: solid 1px rgb(229, 229, 229);
}  
.team__descrp {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    padding-bottom: 95px;
}
.team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
}
.team-list__item {
    position: relative;
    width: 380px;
    height: 470px; 
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #95e1d3;
    width: 380px;
    height: 470px;
    z-index: -1;
}
.overlay {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;         
}
.team-list__item:hover .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 137, 137, .9)), to(rgba(239, 216, 136, .9)));
    background-image: -o-linear-gradient(rgba(238, 137, 137, .9), rgba(239, 216, 136, .9));
    background-image: linear-gradient(rgba(238, 137, 137, .9), rgba(239, 216, 136, .9));
}
.team-list__item:hover .icon {
    opacity: 1;   
}
.team-list__item:hover .transform {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}
.transform {
    -webkit-transition: -webkit-transform 200ms linear;
    transition: -webkit-transform 200ms linear;
    -o-transition: transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear;
    height: 100%;
    width: 100%;
}
.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55px;
    height: 55px;
    border-right: solid 1px rgba(247, 128, 99, 0.6);
    opacity: 0;
    
    background-color: #fce38a;
    -webkit-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
.icon--color {
    fill: #f38181;
}
.icon:hover .icon--hover {
    fill: #fff;
}
.team-list__item:hover .icon {
    opacity: 1;
}
.icon:hover {
    background-color: #f38181;
}
.icon svg {
    display: inline-block;
    width: 25px;
    height: 25px;
}
.team-list__image {
    width: 380px;
    height: 470px; 
}
.team-list__name {
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}
.team-list__occupation {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

/* FOOTER */

.page-footer {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.page-footer__info {
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
}
.page-footer__info span {
    color: #f38181;
    cursor: pointer;
}
.page-footer__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.page-footer__input-email {
    width: 230px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.6;
    border: solid 1px rgb(229, 229, 229);
    outline: none;
}
::placeholder{  
    color: rgb(204, 204, 204); 
} 
:-ms-input-placeholder {
    color: rgb(204, 204, 204);
}
::-ms-input-placeholder {
    color: rgb(204, 204, 204); 
}
.page-footer__btn {
    width: 150px;
    height: 40px;
    border: none;
    background-color: #95e1d3;
    padding-left: 33px;
    padding-right: 33px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    outline: none;
}
@media (-webkit-min-device-pixel-ratio: 2), 
       (-o-min-device-pixel-ratio: 2/1), 
       (min-resolution: 192dpi) {
    .wrapper {
      background-image: url(../img/banner@2x.jpg);
    }